*.lo
*.o
.libs/
/build-aux/
Makefile
Makefile.in
/configure
/autom4te.cache/
/aclocal.m4
/config.cache
/config.h.in
/config.h
/config.status
/config.log
/doc/
/gtk-doc.make
/libtool
/m4/
/stamp-h1
/tinynotify-send
*.la
*.pc
